<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="displayExercicioItem(exercicio, index)">
    <input type="hidden" th:name="'exercicios[' + ${index} + '].id'" th:value="${exercicio.id}" th:if="${exercicio.id != null}"/>

    <label th:for="'nomeExercicio-' + ${index}">Exercício:</label>
    <input type="text" th:id="'nomeExercicio-' + ${index}"
           th:name="'exercicios[' + ${index} + '].nomeExercicio'"
           th:value="${exercicio.nomeExercicio}" placeholder="Nome do Exercício"/>
    <div th:if="${#fields.hasErrors('exercicios[__${index}__].nomeExercicio')}"
         th:errors="*{exercicios[__${index}__].nomeExercicio}" class="error-message"></div>


    <label th:for="'seriesRepeticoes-' + ${index}">Séries/Rep:</label>
    <input type="text" th:id="'seriesRepeticoes-' + ${index}"
           th:name="'exercicios[' + ${index} + '].seriesRepeticoes'"
           th:value="${exercicio.seriesRepeticoes}" placeholder="Ex: 3x10"/>
    <div th:if="${#fields.hasErrors('exercicios[__${index}__].seriesRepeticoes')}"
         th:errors="*{exercicios[__${index}__].seriesRepeticoes}" class="error-message"></div>

    <button type="button" class="remove-exercise-btn" onclick="removerExercicio(this)">Remover</button>
</div>

<div id="exercicioTemplate" class="exercise-item" style="display: none;">
    <label>Exercício:</label>
    <input type="text" data-name-template="exercicios[__INDEX__].nomeExercicio" placeholder="Nome do Exercício"/>

    <label>Séries/Rep:</label>
    <input type="text" data-name-template="exercicios[__INDEX__].seriesRepeticoes" placeholder="Ex: 3x10"/>

    <button type="button" class="remove-exercise-btn" onclick="removerExercicio(this)">Remover</button>
</div>
</body>
</html>